.appointment-list {
  font-size: 1.0em;
}

.appointment-list .pet-item {
  border-bottom: 1px dotted gray;
}

.appointment-list .pet-item:last-child {
  border-bottom: none;
}

.appointment-list .pet-name {
  font-weight: 600;
  color: black;
  font-size: 1.3em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 600;
  color: black;
  line-height: 40%;
}

.appointment-list .apt-date {
  font-style: italic;
}

.appointment-list .aptNotes {
  line-height: 100%;
}
